body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #dcdcdc3b;
}

 .logo{ 
    transform: scale(0.5);
    margin-left: 50px;
}

.navbar{
    height: 150px;
    width: 100%;
    background-color:#430387;
    margin-bottom: 45px;
}

.navbar-nav .nav-item .nav-link.active {
    color: #FFA500; 
}

.navbar-nav .nav-item .nav-link.active:hover {
    color: #9666ca; 
}

.navbar-nav .nav-item .nav-link {
    color: #FFA500;
}


.navbar-nav .nav-item .nav-link:hover {
    color: #9666ca; 
}

.navbar-nav .nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFA500; /* Cor da linha */
    margin-top: 3px; /* Espaçamento entre o link e a linha */
  }

  .navbar-toggler.custom-toggler .navbar-toggler-icon {
    color: #FFA500 !important;
}


h1.h1 {
    color: #430387;
    text-align: justify;
    margin-left: 0;
    margin-bottom: 10px;
  }

  label {
    color: #430387;
    font-weight: bold;
  }


  input[type="email"], input[type="tel"] {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #430387;
    margin-bottom: 20px;
  }

  .form-control.custom-input{
    max-width: 600px; 
}

  #submitButton {
    background-color: #430387;
    color: #FFC745;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: medium;
    cursor: pointer;
    align-items: center;
    line-height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }


.footer {
    background-color: #430387;
    padding: 30px;
    margin-top: 11%;
    margin-bottom: 0;
  }

  .footer h3 {
    color: #FFC745;
    text-align: left;
    margin: 15px;
    font-size: 15px;
  }

@media (max-width: 991.98px) {
    .navbar-toggler {
        position: absolute;
        top: 55px; /* Ajuste o valor conforme necessário */
        right: 30px; /* Ajuste o valor conforme necessário */
        z-index: 2000; /* Garante que o botão hamburguer esteja acima do menu */
    }
    .navbar-collapse {
        position: fixed;
        top: 120px; /* Ajuste o valor conforme necessário */
        right: -200px; /* Esconde o menu à direita */
        bottom: 0;
        background-color: #430387; /* Ajuste a cor de fundo conforme necessário */
        border-radius: 5px; /* Arredonda as bordas */
        padding: 10px; /* Adiciona um espaço interno */
        width: 200px; /* Defina a largura do menu */
        text-align: right; /* Alinha os itens do menu à direita */
        z-index: 1000; /* Garante que o menu esteja acima do conteúdo */
        transition: right 0.3s ease; /* Adiciona uma transição suave ao mover o menu */
    }
    .navbar-collapse.show {
        right: 0; /* Move o menu para a esquerda quando aberto */
    }

    .nav-link, nav-link.activate{
      margin-right: 30px;
      color: #FFA500;
    }
}
  