.navbar {
  padding: 10px 0;
  background-color: #fff; /* Altere a cor conforme necessário */
  border-bottom: 1px solid #ddd; /* Adicione uma borda inferior */
}

.navbar-brand {
  margin-right: 30px; /* Ajuste o espaçamento conforme necessário */
}

.navbar-nav .nav-link {
  color: #FFA500 !important; /* Garante que a cor do texto seja laranja */
}

.navbar-nav .nav-item.active .nav-link {
  font-weight: bold; /* Define o texto do item de navegação ativo em negrito */
}

.navbar-toggler {
  border-color: #FFA500; /* Cor da borda do botão de alternância */
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 165, 0, 0.8)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>'); /* Ícone do botão de alternância */
}

.navbar-toggler-icon:focus {
  outline: none; /* Remove o contorno ao focar no ícone do botão de alternância */
}

.navbar-collapse {
  justify-content: flex-end; /* Alinha os itens da barra de navegação à direita */
}

.form-inline .form-control {
  width: auto; /* Define a largura do campo de pesquisa conforme necessário */
}

.form-inline .btn {
  margin-left: 10px; /* Adiciona espaçamento entre o campo de pesquisa e o botão */
}

.navbar-nav .nav-item {
  margin-left: 20px; /* Adicione um espaçamento entre os itens do menu */
}

/* Estilos para o dropdown */
.navbar-nav .dropdown-menu {
  background-color: #fff; /* Define a cor de fundo do dropdown */
  border: 1px solid #ddd; /* Adiciona uma borda ao dropdown */
  border-radius: 0; /* Remove a borda arredondada */
}

