.header {
  padding: 10px;
  text-align: left;
  margin: 0;
  border-top: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #430387; 
  color: #FFF; 
  display: flex; /* Utiliza flexbox para organizar os elementos */
  justify-content: space-between; /* Alinha os elementos ao longo do eixo principal com espaçamento uniforme */
  align-items: center; /* Centraliza verticalmente os elementos */
}

.header nav {
  margin-top: 10px; 
  margin-right: 60px; /* Adicione margem direita para criar espaço entre os links e a borda direita da tela */
}

.header nav a {
  text-decoration: none; 
  color: #FFC745;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 20px; 
}

.header img {
  max-width: 15%;
  height: auto;
  margin-left: 45px; 
}


body {
  margin-top:70px; 
  border: 0;
  margin: 0%;
  margin-top: 5%;
  background-color: #F6F3FC;
}

.img1 {
  width: auto; 
  object-fit: cover; 
  padding-top:70px; 
  margin-left:20%;
  margin-right: auto; 
}

.img2 {
  margin-left: 0; 
  width: 350px;
  margin-top: 40px;
  margin-bottom: 0;
}

.footer {
  background-color: #430387; 
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.footer .logo img {
  max-width: 80px; 
  height: auto;
  margin-left: 45px;
}


.side-text {
  float: right; 
  width: 40%; 
  padding: 0 40px; 
  margin-top: 120px; 
  margin-right: 350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #430387;

}

.privacy{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #FFC745;
  margin-right: 45px;
}

