body {
  margin: 0;
  padding: 0;
  background-color: #dcdcdc3b;
}

.header {
  background-color: #430387;
  padding: 55px;
  text-align: right;
  border-top: none;
}

.header button {
  background-color: #FFC745;
  border-radius: 50px;
  border-color: #FFC745;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  padding: 15px 35px;
  text-align: center;
  color: #430387;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

.header img {
  max-width: 50%;
  height: auto;
  display: block;
  float: left;
  margin-right: 15px;
  margin-top: -25px;
}

hr {
  border: none; 
  border-top: 1px solid #2e2e2e; 
  margin-top: 4%;
  margin: 0 auto; 
  text-align: center; 
}

.banner {
  background-color: #430387;
  width: (100 - 20); 
  height: 87vh; 
  margin-top: -40px;
  padding-top: 10px ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 62px;
  color: #FFC745;
}

h1 {
  font-size: 70px;
}

h2{
  font-size: 17px;
  margin-top: -10px;
}

h3 {
  font-size: 23px;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  float: right;
  margin-right: 0px;
  margin-top: -450px;
}

.banner button {
  background-color: #FFC745;
  border-radius: 50px;
  border-color: #FFC745;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  padding: 15px 35px;
  text-align: center;
  color: #430387;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.footer img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  margin-bottom: 0px;
  margin-top: -200px;
  padding: 0;
  background-color: #430387;
  transform: scale(0.5); 

}
.footer {
  background-color: #430387;
  padding: 0px;
  margin-bottom: 0;
  margin: 0;
}

.parceiros{
  margin: 0;
}


